@media only screen and (max-width: 415px) {
  #container {
    display: flex;
    justify-content: center;
  }

  #cards-container {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 435px;
    height: auto;
  }
}
#blackbox {
  border-color: yellow;
  font-family: "Lora", serif;
}
#btnDeal {
  font-family: "Alfa Slab One", cursive;
}

#btnStart {
  font-family: "Alfa Slab One", cursive;
}

#btnReset {
  font-family: "Montserrat", sans-serif;
}
#cards-container > div {
  font-family: "Noto Sans", sans-serif;
}
